.aboutList
{
    list-style: disc; /* Стандартные маркеры списка */
    padding: 0; /* Убираем отступы */
}

.aboutList li
{
    display: block; /* Устанавливаем элементы списка в блочное отображение */
    margin-bottom: 10px; /* Добавляем отступ между элементами */
} 